@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
li {
    list-style: none;
}
article li {
    list-style: initial;
    margin-left: -20px;
    color: gray;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    display: block;
}
